body {
  background:url(img/minecraft.png);
  background-position:bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: #111111;
}
.forside-banner {
width: 100%;
height: calc(20vh - 100px);
background-color: #111111;
background-repeat:no-repeat;
 background-position: top;
 flex-grow: 1;
 padding: 120px 1rem;
 top: 0px;
 left: 0px;
 right: 0px;
 display: table;


}
.forside-banner h1 {
color: #F2F2F2;
font-family: "Press Start 2P";
font-size: 50px;
text-align: center;
margin: 50px;

}

.vidm video{
  width: 700px;
  height: 400px;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  padding: 30px;
}

.textm {
  margin: 30px 15px 50px;
  width: calc(100% - 32px);
  height: 200px;
  background-color:#F2F2F2;
  border-radius: 20px;
  box-shadow: 10px 10px 100px black;
}

.textm p {
  color: #111111;
  font-family: "Plus Jakarta Sans";
  font-size: 30px;
  text-align: center;
  line-height: 40px;
  padding: 30px;
  word-spacing: 3px;
}

@media only screen and (min-width: 990px){
  .textm {
      width: 1000px;
      margin: 0 auto;

    }
    video {
      width: 700px;
      height: 400px;
      border-radius: 20px;
      margin: 0 auto;
        padding: 30px;
    }
    .textm p {
      color: #111111;
      font-family: "Plus Jakarta Sans";
      font-size: 25px;
      text-align: center;
      line-height: 40px;
      padding: 50px;
    }
}

@media only screen and (MAX-width: 990px) {

  .vidm video {
    width: calc(100% - 32px);
    margin: 0 auto;
  }
  .textm {
      width: 583px;
      margin: 0 auto;
      text-align: center;

    }

}
